# Build folders
.gradle
/build
/captures
/app/release
.externalNativeBuild
.cxx

# Local configuration & Secrets
/local.properties
local.properties
google-services.json
secrets.xml

# Keystore files (CRITICAL: Do not commit)
*.jks
*.keystore
*.p12

# Android Studio / IntelliJ
*.iml
*.ipr
*.iws
.idea/

# OS specific
.DS_Store

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
